openapi: 3.1.0
info:
  title: Spot Administration Access Policies Right Sizing API
  description: The Spot Administration API provides endpoints for managing organizations, accounts, users, access policies, cloud credentials, subscriptions, and event notifications within the Spot by Flexera platform. It enables programmatic control over user permissions, account setup, and cloud provider credential linking for AWS, Azure, and GCP.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Right Sizing
  description: Get right-sizing recommendations for Ocean workloads.
paths:
  /ocean/aws/k8s/cluster/{oceanClusterId}/rightSizing/suggestion:
    get:
      operationId: getRightSizingSuggestions
      summary: Spot Get Right-sizing Suggestions
      description: Get right-sizing recommendations for workloads running in an Ocean cluster. Returns CPU and memory recommendations based on actual usage.
      tags:
      - Right Sizing
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
