openapi: 3.2.0
info:
  title: Spot Elastigroup Stateful Instances API
  description: The Spot Elastigroup API enables programmatic management of Elastigroup compute groups across AWS, Azure, and GCP. Elastigroup simplifies and automates cloud infrastructure for scale-out applications, continuously analyzing resource usage and optimizing compute resources to ensure availability while leveraging the lowest-cost compute options including spot instances, reserved instances, and on-demand capacity.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Stateful Instances
  description: Manage stateful instances within Elastigroups.
paths:
  /aws/ec2/group/{groupId}/statefulInstance:
    get:
      operationId: listStatefulInstances
      summary: Spot List Stateful Instances
      description: List all stateful instances in an Elastigroup.
      tags:
      - Stateful Instances
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /aws/ec2/group/{groupId}/statefulInstance/{statefulInstanceId}:
    put:
      operationId: recycleStatefulInstance
      summary: Spot Recycle Stateful Instance
      description: Recycle a stateful instance, replacing it with a new one.
      tags:
      - Stateful Instances
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      - name: statefulInstanceId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deallocateStatefulInstance
      summary: Spot Deallocate Stateful Instance
      description: Deallocate a stateful instance and its resources.
      tags:
      - Stateful Instances
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      - name: statefulInstanceId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
