openapi: 3.1.0
info:
  title: Spot Administration Access Policies Cost Analysis API
  description: The Spot Administration API provides endpoints for managing organizations, accounts, users, access policies, cloud credentials, subscriptions, and event notifications within the Spot by Flexera platform. It enables programmatic control over user permissions, account setup, and cloud provider credential linking for AWS, Azure, and GCP.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Cost Analysis
  description: Retrieve cost analysis and spending data across cloud accounts.
paths:
  /billingEngine/cost:
    get:
      operationId: getCostAnalysis
      summary: Spot Get Cost Analysis
      description: Retrieve cost analysis data across registered cloud accounts, including breakdowns by service, account, and time period.
      tags:
      - Cost Analysis
      parameters:
      - name: accountId
        in: query
        schema:
          type: string
        example: '500123'
      - name: fromDate
        in: query
        description: Start date for the cost analysis period.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: toDate
        in: query
        description: End date for the cost analysis period.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: groupBy
        in: query
        description: Dimension to group costs by.
        schema:
          type: string
          enum:
          - account
          - service
          - region
          - family
        example: account
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
