openapi: 3.2.0
info:
  title: Spot Billing Engine Cost Analysis API
  description: The Spot Billing Engine API provides programmatic access to cloud billing management, cost allocation, and invoicing capabilities. Billing Engine streamlines multi-cloud invoicing with intelligent cost allocation, chargeback and showback reporting, and comprehensive billing analytics across AWS, Azure, and GCP accounts.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Cost Analysis
  description: Retrieve cost analysis and spending data across cloud accounts.
paths:
  /billingEngine/cost:
    get:
      operationId: getCostAnalysis
      summary: Spot Get Cost Analysis
      description: Retrieve cost analysis data across registered cloud accounts, including breakdowns by service, account, and time period.
      tags:
      - Cost Analysis
      parameters:
      - name: accountId
        in: query
        schema:
          type: string
        example: '500123'
      - name: fromDate
        in: query
        description: Start date for the cost analysis period.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: toDate
        in: query
        description: End date for the cost analysis period.
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: groupBy
        in: query
        description: Dimension to group costs by.
        schema:
          type: string
          enum:
          - account
          - service
          - region
          - family
        example: account
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
