openapi: 3.2.0
info:
  title: Spot Elastigroup EMR API
  description: The Spot Elastigroup API enables programmatic management of Elastigroup compute groups across AWS, Azure, and GCP. Elastigroup simplifies and automates cloud infrastructure for scale-out applications, continuously analyzing resource usage and optimizing compute resources to ensure availability while leveraging the lowest-cost compute options including spot instances, reserved instances, and on-demand capacity.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: EMR
  description: Manage Amazon EMR clusters with Elastigroup.
paths:
  /aws/emr/mrScaler:
    post:
      operationId: createEMRCluster
      summary: Spot Create Emr Cluster
      description: Create a new Amazon EMR cluster managed by Elastigroup.
      tags:
      - EMR
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMRClusterRequest'
            examples:
              CreateemrclusterRequestExample:
                summary: Default createEMRCluster request
                x-microcks-default: true
                value:
                  mrScaler:
                    name: Example Title
                    description: A sample description.
                    region: example_value
                    strategy: example_value
                    compute: example_value
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listEMRClusters
      summary: Spot List Emr Clusters
      description: List all EMR clusters managed by Elastigroup.
      tags:
      - EMR
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /aws/emr/mrScaler/{mrScalerId}:
    get:
      operationId: getEMRCluster
      summary: Spot Get Emr Cluster
      description: Get details of an EMR cluster.
      tags:
      - EMR
      parameters:
      - name: mrScalerId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateEMRCluster
      summary: Spot Update Emr Cluster
      description: Update an existing EMR cluster.
      tags:
      - EMR
      parameters:
      - name: mrScalerId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMRClusterRequest'
            examples:
              UpdateemrclusterRequestExample:
                summary: Default updateEMRCluster request
                x-microcks-default: true
                value:
                  mrScaler:
                    name: Example Title
                    description: A sample description.
                    region: example_value
                    strategy: example_value
                    compute: example_value
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEMRCluster
      summary: Spot Delete Emr Cluster
      description: Delete an EMR cluster.
      tags:
      - EMR
      parameters:
      - name: mrScalerId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EMRClusterRequest:
      type: object
      properties:
        mrScaler:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
            region:
              type: string
            strategy:
              type: object
            compute:
              type: object
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
