openapi: 3.1.0
info:
  title: Spot Administration Access Policies Ocean ECS API
  description: The Spot Administration API provides endpoints for managing organizations, accounts, users, access policies, cloud credentials, subscriptions, and event notifications within the Spot by Flexera platform. It enables programmatic control over user permissions, account setup, and cloud provider credential linking for AWS, Azure, and GCP.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Ocean ECS
  description: Manage Ocean clusters for Amazon ECS.
paths:
  /ocean/aws/ecs/cluster:
    post:
      operationId: createOceanClusterECS
      summary: Spot Create Ocean Cluster (ecs)
      description: Create a new Ocean cluster for Amazon ECS.
      tags:
      - Ocean ECS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OceanECSClusterRequest'
            examples:
              CreateoceanclusterecsRequestExample:
                summary: Default createOceanClusterECS request
                x-microcks-default: true
                value:
                  cluster:
                    name: Example Title
                    clusterName: example_value
                    region: example_value
                    autoScaler:
                      isEnabled: true
                      isAutoConfig: true
                    capacity:
                      target: 10
                      minimum: 10
                      maximum: 10
                    compute:
                      instanceTypes:
                        whitelist: {}
                      subnetIds:
                      - {}
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listOceanClustersECS
      summary: Spot List Ocean Clusters (ecs)
      description: List all Ocean ECS clusters.
      tags:
      - Ocean ECS
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ocean/aws/ecs/cluster/{oceanClusterId}:
    get:
      operationId: getOceanClusterECS
      summary: Spot Get Ocean Cluster (ecs)
      description: Get an Ocean ECS cluster.
      tags:
      - Ocean ECS
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateOceanClusterECS
      summary: Spot Update Ocean Cluster (ecs)
      description: Update an Ocean ECS cluster.
      tags:
      - Ocean ECS
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OceanECSClusterRequest'
            examples:
              UpdateoceanclusterecsRequestExample:
                summary: Default updateOceanClusterECS request
                x-microcks-default: true
                value:
                  cluster:
                    name: Example Title
                    clusterName: example_value
                    region: example_value
                    autoScaler:
                      isEnabled: true
                      isAutoConfig: true
                    capacity:
                      target: 10
                      minimum: 10
                      maximum: 10
                    compute:
                      instanceTypes:
                        whitelist: {}
                      subnetIds:
                      - {}
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteOceanClusterECS
      summary: Spot Delete Ocean Cluster (ecs)
      description: Delete an Ocean ECS cluster.
      tags:
      - Ocean ECS
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OceanECSClusterRequest:
      type: object
      properties:
        cluster:
          type: object
          properties:
            name:
              type: string
            clusterName:
              type: string
              description: The ECS cluster name.
            region:
              type: string
            autoScaler:
              type: object
              properties:
                isEnabled:
                  type: boolean
                isAutoConfig:
                  type: boolean
            capacity:
              type: object
              properties:
                target:
                  type: integer
                minimum:
                  type: integer
                maximum:
                  type: integer
            compute:
              type: object
              properties:
                instanceTypes:
                  type: object
                  properties:
                    whitelist:
                      type: array
                      items:
                        type: string
                subnetIds:
                  type: array
                  items:
                    type: string
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
