openapi: 3.1.0
info:
  title: Spot Administration Access Policies Rolls API
  description: The Spot Administration API provides endpoints for managing organizations, accounts, users, access policies, cloud credentials, subscriptions, and event notifications within the Spot by Flexera platform. It enables programmatic control over user permissions, account setup, and cloud provider credential linking for AWS, Azure, and GCP.
  version: 2.0.0
  contact:
    name: Spot by Flexera
    url: https://docs.spot.io/
  termsOfService: https://spot.io/terms-of-use/
servers:
- url: https://api.spotinst.io
  description: Spot Production API
security:
- bearerAuth: []
tags:
- name: Rolls
  description: Manage rolling updates for Ocean clusters.
paths:
  /ocean/aws/k8s/cluster/{oceanClusterId}/roll:
    post:
      operationId: initiateRollAWS
      summary: Spot Initiate Cluster Roll (aws)
      description: Initiate a roll (rolling replacement) of nodes in an Ocean cluster.
      tags:
      - Rolls
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OceanRollRequest'
            examples:
              InitiaterollawsRequestExample:
                summary: Default initiateRollAWS request
                x-microcks-default: true
                value:
                  roll:
                    batchSizePercentage: 10
                    comment: example_value
                    batchMinHealthyPercentage: 10
                    respectPdb: true
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listRollsAWS
      summary: Spot List Cluster Rolls (aws)
      description: List all rolls for an Ocean cluster.
      tags:
      - Rolls
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ocean/aws/k8s/cluster/{oceanClusterId}/roll/{rollId}:
    get:
      operationId: getRollAWS
      summary: Spot Get Roll Details (aws)
      description: Get the details and status of a specific roll.
      tags:
      - Rolls
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      - name: rollId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateRollAWS
      summary: Spot Update Roll (aws)
      description: Stop or modify a running roll.
      tags:
      - Rolls
      parameters:
      - name: oceanClusterId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      - name: rollId
        in: path
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roll:
                  type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - STOPPED
            examples:
              UpdaterollawsRequestExample:
                summary: Default updateRollAWS request
                x-microcks-default: true
                value:
                  roll:
                    status: STOPPED
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OceanRollRequest:
      type: object
      properties:
        roll:
          type: object
          properties:
            batchSizePercentage:
              type: integer
              description: Percentage of nodes to replace in each batch.
            comment:
              type: string
            batchMinHealthyPercentage:
              type: integer
            respectPdb:
              type: boolean
              description: Respect pod disruption budgets during the roll.
          example: example_value
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spot API uses Bearer Token Authentication. Include your API token in the Authorization header.
